<!doctype html>
<html ng-app="mbox">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!--<script src="ui-bootstrap-tpls-0.2.0.min.js"></script>-->
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="mbox.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="mbox.css" rel="stylesheet">
    <script>
        $(function() {
            $("[rel=tooltip]").tooltip();
        });
    </script>
</head>
<body>
<div id="mbox" class='container'>
    <h2>M-Box</h2>
    <div ng-controller="MboxCtrl">
        <ul class="nav nav-tabs">
            <li ng-repeat="folder in folders" ng-class="{active: folder.id==active_folder}">
                <a ng-href="#/{{folder.name}}" ng-click="activateFolder(folder)" data-toggle="tab" data-target="#{{folder.id}}">{{folder.name}} ({{getConvCount(folder)}})</a>
            </li>
        </ul>
        <div class="tab-content">
        <div ng-repeat="folder in folders" id="{{folder.name}}" class="tab-pane" ng-class="{active: folder.id==active_folder}">

            <div ng-switch on="active_folder">
                <div ng-switch-when="1">
                    <div class="btn-toolbar">

                        <a class="btn btn-primary" href="#"><i class="icon-pencil icon-white"></i> Compose</a>

                        <div class="btn-group">
                            <a class="btn" href="#"><i class="icon-check"></i></a>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-check"></i> All</a></li>
                                <li><a href="#"><i class="icon-check"></i> None</a></li>
                                <li><a href="#"><i class="icon-check"></i> Unread</a></li>
                            </ul>
                        </div>

                        <div class="btn-group">
                            <a ng-click="moveConv(folder, 3)" class="btn" href="#" data-toggle="tooltip" title="Archive" data-placement="bottom" data-container='body'><i class="icon-briefcase"></i> Archive</a>
                            <a ng-click="moveConv(folder, 5)" class="btn" href="#" data-toggle="tooltip" title="Trash" data-placement="bottom" data-container='body'><i class="icon-trash"></i> Trash</a>
                            <a ng-click="moveConv(folder, 4)" class="btn" href="#" data-toggle="tooltip" title="Spam" data-placement="bottom" data-container='body'><i class="icon-exclamation-sign"></i> Spam</a>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="2">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <a class="btn" href="#"><i class="icon-check"></i></a>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-pencil"></i> Not Done</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="3">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <a class="btn" href="#"><i class="icon-check"></i></a>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-pencil"></i> Not Done</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a ng-click="moveConv(folder, 1)" class="btn" href="#" data-toggle="tooltip" title="Inbox" data-placement="bottom" data-container='body'><i class="icon-inbox"></i> Inbox</a>
                            <a ng-click="moveConv(folder, 5)" class="btn" href="#" data-toggle="tooltip" title="Trash" data-placement="bottom" data-container='body'><i class="icon-trash"></i> Trash</a>
                            <a ng-click="moveConv(folder, 4)" class="btn" href="#" data-toggle="tooltip" title="Spam" data-placement="bottom" data-container='body'><i class="icon-exclamation-sign"></i> Spam</a>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="5">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <a class="btn" href="#"><i class="icon-check"></i></a>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-pencil"></i> Not Done</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a ng-click="moveConv(folder, 1)" class="btn" href="#" data-toggle="tooltip" title="Inbox" data-placement="bottom" data-container='body'><i class="icon-inbox"></i> Inbox</a>
                            <a ng-click="moveConv(folder, 3)" class="btn" href="#" data-toggle="tooltip" title="Archive" data-placement="bottom" data-container='body'><i class="icon-briefcase"></i> Archive</a>
                            <a ng-click="moveConv(folder, 4)" class="btn" href="#" data-toggle="tooltip" title="Trash" data-placement="bottom" data-container='body'><i class="icon-trash"></i> Trash</a>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="4">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <a class="btn" href="#"><i class="icon-check"></i></a>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-pencil"></i> Not Done</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a ng-click="moveConv(folder, 1)" class="btn" href="#" data-toggle="tooltip" title="Inbox" data-placement="bottom" data-container='body'><i class="icon-inbox"></i> Inbox</a>
                            <a ng-click="moveConv(folder, 3)" class="btn" href="#" data-toggle="tooltip" title="Archive" data-placement="bottom" data-container='body'><i class="icon-briefcase"></i> Archive</a>
                            <a ng-click="moveConv(folder, 5)" class="btn" href="#" data-toggle="tooltip" title="Spam" data-placement="bottom" data-container='body'><i class="icon-exclamation-sign"></i> Spam</a>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-switch on="convs[folder.id].length">
                <div ng-switch-when="0">
                    <div class='well well-large'>
                        Folder is empty!
                    </div>
                </div>
                <div ng-switch-default>
                    <table class='table conv-tbl'>
                        <colgroup>
                            <col class='chk-col' />
                            <col class='name-col' />
                            <col class='subject-col' />
                        </colgroup>
                        <tr ng-repeat="conv in convs[folder.id]" ng-class="{selected: conv.selected, bold: conv.unread}">
                            <td><input type="checkbox" ng-model="conv.selected" /></td>
                            <td>{{formatConvName(conv, folder)}}</td>
                            <td><a ng-href="#{{folder.name}}/{{conv.id}}">{{conv.subject}}</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </div>
        <h4>Compose</h4>
        <form ng-submit="addConv('Sent')">
            <div><input type="text" ng-model="to" placeholder="To" class='span6' /></div>
            <div><input type="text" ng-model="subject" placeholder="Subject" class='span6' /></div>
            <div><textarea ng-model='text' placeholder="Message" class='span6 msg-box'></textarea></div>
            <div><input class="btn" type="submit" value="Send" /></div>
        </form>
        <div ng-view></div>
        <pre>$location.path() = {{$location.path()}}</pre>
        <pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
        <pre>$route.current.params = {{$route.current.params}}</pre>
        <pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
        <pre>$routeParams = {{$routeParams}}</pre>
    </div>
</div>
</body>
</html>