#mbox .msg-box {
    height: 300px;
}

#mbox .chk-col {
    width: 25px;
    vertical-align: middle;
    line-height: 20px;
}

#mbox .conv-tbl {
    background-color:#FAFAFA;
}

#mbox .conv-tbl input {
    margin: 0px;
}

#mbox .conv-tbl tr:hover {
    background-color:#FFE;
    cursor: pointer;
}

#mbox .name-col {
    width: 150px;
}

#mbox .conv-tbl tr.selected {
    background-color: #EFE;
}

#mbox .nav-tabs {
    margin-bottom: 5px;
}


.clr {
    clear: both;
}